{% extends 'main/base.html' %}

{% block content %}
<div class="container jumbotron vertical-center text-center" style="background-color: white;">

    <a href="{% url 'create_goal'%}"  class="btn" style="background-color: #00ff99; color: black;">New Goal</a>
    <a href="{% url 'completed_goal'%}"  class="btn" style="background-color: #00ff99; color: black;">Completed Goals</a>
    <h4 style="padding: 3% 0 2% 0;">Current <b>goals</b>:</h4>

    {% for goal in goals %}
        <div class="row justify-content-center" style="padding-bottom:1%;">
            <a href="{% url 'check_goal' goal.id %}" class="btn" style="background-color:  #cccccc;color: black;">
                {{ goal.title }}
                    
            </a>
            <form method="POST" action="{% url 'delete_goal' goal.id %}" style="padding:0 1% 0 1%">
                {% csrf_token %}
                <button type="submit" class="btn" style="background-color: #ff4d4d; color: white;">X</button>
            </form>
            <form method="POST" action="{% url 'complete_goal' goal.id %}">
                {% csrf_token %}
                <button type="submit" class="btn" style="background-color: #4dffb8; color: black;">Done!</button>
            </form>
            
            
        </div>
    {% endfor %}

</div>
{% endblock %}